@import url('./xinhuadev.css');

body {
  margin: 0;
}
.login-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-card {
  width: 450px;
  padding: 30px;
  margin-top: -45%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
}
#login-card .login-headline {
  text-align: center;
}
#login-card .login-action {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
#login-card .login-action span {
  order: 2;
}
#login-card .login-field {
  margin: 15px 0;
  width: 100%;
}
#login-card #toggle {
  outline: 0;
}

#captcha-toggle {
  bottom: 3px;
  right: 3px;
}
#captcha-toggle img {
  height: 50px;
}

/* keycloak headerId */
#kc-header {
  display: none;
}

#kc-form-options .checkbox {
  display: flex;
  align-items: center;
}