html, body {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  background-image: 
    url("../img/mario.gif"),
    url("../img/ground.png"),
    url("../img/bushes.png"),
    url("../img/back.png");
  background-color: #F8E0B0;
  background-repeat: no-repeat, repeat-x, repeat-x, repeat-x;
  background-position: left 30% bottom 24px, left 0px bottom 0px, left 0px bottom 24px, left 0px bottom 0px;
  -webkit-animation: back 15s infinite linear;
          animation: back 15s infinite linear;
}

@-webkit-keyframes back {
  0% {
    background-position: left 30% bottom 24px, left 0px bottom 0px, left 0px bottom 24px, left 0px bottom 0px;
  }
  50% {
    background-position: left 50% bottom 24px, left -816px bottom 0px, left -608px bottom 24px, left -256px bottom 0px;
  }
  100% {
    background-position: left 30% bottom 24px, left -1632px bottom 0px, left -1016px bottom 24px, left -512px bottom 0px;
  }
}

@keyframes back {
  0% {
    background-position: left 30% bottom 24px, left 0px bottom 0px, left 0px bottom 24px, left 0px bottom 0px;
  }
  50% {
    background-position: left 50% bottom 24px, left -816px bottom 0px, left -608px bottom 24px, left -256px bottom 0px;
  }
  100% {
    background-position: left 30% bottom 24px, left -1632px bottom 0px, left -1016px bottom 24px, left -512px bottom 0px;
  }
}
